# Expoloratory Data Analysis
#### Objective:
- Merging between ascii data(Trip and Drillling)
- Recreate excel activity mapping formula in excel

# Table of Content:
#### 1. Merging Data
#### 2. Recreate excel sub-activity mapping

#### 1. Merging Data

In [6]:
import numpy as np 
import pandas as pd
from IPython.display import display as display_DF

ListOfDrilling_Data = ["Data/raw_BM/ASCII AAE-06 Drilling.csv"]
ListOfTripping_Data = ["Data/raw_BM/ASCII AAE-06 Trip in.csv"]
ListOfRAW_Data = ["Data/raw_wits/SMP AAE 06.csv"]

In [7]:
number = 0

Drilling_Data_DF = pd.read_csv(ListOfDrilling_Data[number])
Tripping_Data_DF = pd.read_csv(ListOfTripping_Data[number])
RAW_DF = pd.read_csv(ListOfRAW_Data[number], delimiter='\t')


display_DF(Drilling_Data_DF)
display_DF(Tripping_Data_DF)
display_DF(RAW_DF)

,dt,date,time,bitdepth,md,blockpos,rop,hklda,woba,torqa,rpm,stppress,mudflowin
0,8/22/2021 9:00,8/22/2021,9:00:04,512.14,545.58,5.41,4.82,99.18,0.0,0.0,0,0.0,0.0
1,8/22/2021 9:00,8/22/2021,9:00:09,512.14,545.58,5.41,4.82,99.12,0.0,0.0,0,0.0,0.0
2,8/22/2021 9:00,8/22/2021,9:00:14,512.14,545.58,5.41,4.82,99.12,0.0,0.0,0,0.0,0.0
3,8/22/2021 9:00,8/22/2021,9:00:19,512.14,545.58,5.41,4.82,98.98,0.0,0.0,0,0.0,0.0
4,8/22/2021 9:00,8/22/2021,9:00:24,512.14,545.58,5.41,4.82,98.98,0.0,0.0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
114827,8/29/2021 0:59,8/29/2021,0:59:40,1432.76,1500.01,13.80,11.84,195.97,0.0,0.0,0,0.0,0.0
114828,8/29/2021 0:59,8/29/2021,0:59:45,1431.96,1500.01,14.61,11.84,194.65,0.0,0.0,0,0.0,0.0
114829,8/29/2021 0:59,8/29/2021,0:59:50,1431.12,1500.01,15.44,11.84,194.34,0.0,0.0,0,0.0,0.0
114830,8/29/2021 0:59,8/29/2021,0:59:55,1430.28,1500.01,16.28,11.84,194.90,0.0,0.0,0,0.0,0.0
114831,8/29/2021 1:00,8/29/2021,1:00:00,1429.45,1500.01,17.12,11.84,194.65,0.0,0.0,0,0.0,0.0

,dt,date,time,bitdepth,md,blockpos,hklda,rpm,stppress,mudflowin
0,8/22/2021 0:00,8/22/2021,0:00:04,10.58,545.58,12.87,29.61,0,0.0,0.0
1,8/22/2021 0:00,8/22/2021,0:00:09,10.58,545.58,12.87,29.61,0,0.0,0.0
2,8/22/2021 0:00,8/22/2021,0:00:14,10.58,545.58,12.87,29.61,0,0.0,0.0
3,8/22/2021 0:00,8/22/2021,0:00:19,10.58,545.58,12.87,29.61,0,0.0,0.0
4,8/22/2021 0:00,8/22/2021,0:00:24,10.58,545.58,12.87,29.61,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
6363,8/22/2021 8:59,8/22/2021,8:59:39,512.14,545.58,5.41,99.32,0,0.0,0.0
6364,8/22/2021 8:59,8/22/2021,8:59:44,512.14,545.58,5.41,99.32,0,0.0,0.0
6365,8/22/2021 8:59,8/22/2021,8:59:49,512.14,545.58,5.41,99.32,0,0.0,0.0
6366,8/22/2021 8:59,8/22/2021,8:59:54,512.14,545.58,5.41,99.32,0,0.0,0.0
6367,8/22/2021 8:59,8/22/2021,8:59:59,512.14,545.58,5.41,99.32,0,0.0,0.0

,2021-08-15 16:23:11,150,0,2,1,2021-08-15,16:23:11,8,40.10,40.12,...,0.00.43,0.00.44,0.00.45,0.00.46,0.00.47,0.00.48,0.00.49,\N.118,\N.119,\N.120
0,2021-08-15 16:23:15,150,0,2,2,2021-08-15,16:23:15,8,40.2,40.21,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,\N,\N,\N
1,2021-08-15 16:23:20,150,0,2,3,2021-08-15,16:23:20,8,40.3,40.30,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,\N,\N,\N
2,2021-08-15 16:23:26,150,0,2,4,2021-08-15,16:23:26,8,40.4,40.41,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,\N,\N,\N
3,2021-08-15 16:25:25,150,0,2,5,2021-08-15,16:25:25,8,40.5,40.50,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,\N,\N,\N
4,2021-08-15 16:25:32,150,0,2,6,2021-08-15,16:25:32,8,40.6,40.60,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,\N,\N,\N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24646,2021-09-10 02:36:19,150,0,2,10487,2021-09-10,02:36:19,2,2549.6,2328.57,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,\N,\N,\N
24647,2021-09-10 02:36:55,150,0,2,10488,2021-09-10,02:36:55,2,2549.7,2328.66,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,\N,\N,\N
24648,2021-09-10 02:38:06,150,0,2,10489,2021-09-10,02:38:06,2,2549.8,2328.74,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,\N,\N,\N
24649,2021-09-10 02:38:44,150,0,2,10490,2021-09-10,02:38:44,2,2549.9,2328.83,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,\N,\N,\N
24650,2021-09-10 02:39:54,150,0,2,10491,2021-09-10,02:39:54,2,2550.0,2328.92,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,\N,\N,\N

In [8]:
Drilling_Data_DF.dtypes

dt            object
date          object
time          object
bitdepth     float64
md           float64
blockpos     float64
rop          float64
hklda        float64
woba         float64
torqa        float64
rpm            int64
stppress     float64
mudflowin    float64
dtype: object

In [9]:
print("start realtime:")
print(Drilling_Data_DF['dt'].min())
print("\n")
print("stop realtime:")
print(Drilling_Data_DF['dt'].max())
print("start realtime:")
print(Tripping_Data_DF['dt'].min())
print("\n")
print("stop realtime:")
print(Tripping_Data_DF['dt'].max())

print(Drilling_Data_DF.columns)
print(Drilling_Data_DF.shape)

print(Tripping_Data_DF.columns)
print(Tripping_Data_DF.shape)

print(RAW_DF.shape)

start realtime:
8/22/2021 10:00


stop realtime:
8/29/2021 1:00
start realtime:
8/22/2021 0:00


stop realtime:
8/22/2021 8:59
Index(['dt', 'date', 'time', 'bitdepth', 'md', 'blockpos', 'rop', 'hklda',
       'woba', 'torqa', 'rpm', 'stppress', 'mudflowin'],
      dtype='object')
(114832, 13)
Index(['dt', 'date', 'time', 'bitdepth', 'md', 'blockpos', 'hklda', 'rpm',
       'stppress', 'mudflowin'],
      dtype='object')
(6368, 10)
(24651, 209)

In [10]:
Tripping_Data_DF['Remarks'] = 'Trip_Data'
Drilling_Data_DF['Remarks'] = 'Drill_Data'
Merge_DF = Drilling_Data_DF.join(Tripping_Data_DF.set_index('dt'),how='outer',on='dt', rsuffix='_Trip', sort='True')
Merge_DF.columns

Index(['dt', 'date', 'time', 'bitdepth', 'md', 'blockpos', 'rop', 'hklda',
       'woba', 'torqa', 'rpm', 'stppress', 'mudflowin', 'Remarks', 'date_Trip',
       'time_Trip', 'bitdepth_Trip', 'md_Trip', 'blockpos_Trip', 'hklda_Trip',
       'rpm_Trip', 'stppress_Trip', 'mudflowin_Trip', 'Remarks_Trip'],
      dtype='object')

In [12]:

for ColumnName in Merge_DF.columns:
    # print(ColumnName)
    if "_Trip" in ColumnName:
        # Merge_DF 
        Temp = ColumnName.split("_")[0] 
        print(Temp)
        Merge_DF.loc[Merge_DF[Temp].isna(), Temp] = Merge_DF.loc[Merge_DF[Temp].isna(), ColumnName]
        del Merge_DF[ColumnName]
Merge_DF = Merge_DF.reset_index(drop=True)
display_DF(Merge_DF)
Merge_DF.to_csv("RealTime_Test/AAE-06_RAW.csv")

,dt,date,time,bitdepth,md,blockpos,rop,hklda,woba,torqa,rpm,stppress,mudflowin,Remarks
0,8/22/2021 0:00,8/22/2021,0:00:04,10.58,545.58,12.87,NaN,29.61,NaN,NaN,0.0,0.0,0.0,Trip_Data
1,8/22/2021 0:00,8/22/2021,0:00:09,10.58,545.58,12.87,NaN,29.61,NaN,NaN,0.0,0.0,0.0,Trip_Data
2,8/22/2021 0:00,8/22/2021,0:00:14,10.58,545.58,12.87,NaN,29.61,NaN,NaN,0.0,0.0,0.0,Trip_Data
3,8/22/2021 0:00,8/22/2021,0:00:19,10.58,545.58,12.87,NaN,29.61,NaN,NaN,0.0,0.0,0.0,Trip_Data
4,8/22/2021 0:00,8/22/2021,0:00:24,10.58,545.58,12.87,NaN,29.61,NaN,NaN,0.0,0.0,0.0,Trip_Data
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121195,8/29/2021 0:59,8/29/2021,0:59:40,1432.76,1500.01,13.80,11.84,195.97,0.0,0.0,0.0,0.0,0.0,Drill_Data
121196,8/29/2021 0:59,8/29/2021,0:59:45,1431.96,1500.01,14.61,11.84,194.65,0.0,0.0,0.0,0.0,0.0,Drill_Data
121197,8/29/2021 0:59,8/29/2021,0:59:50,1431.12,1500.01,15.44,11.84,194.34,0.0,0.0,0.0,0.0,0.0,Drill_Data
121198,8/29/2021 0:59,8/29/2021,0:59:55,1430.28,1500.01,16.28,11.84,194.90,0.0,0.0,0.0,0.0,0.0,Drill_Data
121199,8/29/2021 1:00,8/29/2021,1:00:00,1429.45,1500.01,17.12,11.84,194.65,0.0,0.0,0.0,0.0,0.0,Drill_Data

#### 2. Recreate excel sub-activity mapping

In [129]:
import numpy as np 
import pandas as pd
from IPython.display import display as display_DF

ListOfDrilling_Data = ["Data/raw_BM/ASCII AAE-06 Drilling.csv"]
ListOfDrilling_Data = ["Data/raw_BM/ASCII AAE-05 Drilling.csv"]


number = 0

Drilling_Data_DF = pd.read_csv(ListOfDrilling_Data[number])

def GetDrillingActivity_DF(ConnectionWeight,Activity_DF):
    Activity_DF["SubActivity_Predict"] = "Look and define"

    idx_logic = ((Activity_DF['woba']>0) & (Activity_DF['rpm']>10)) & ((Activity_DF['stppress']>100) & (Activity_DF['hklda']>ConnectionWeight))
    Activity_DF.loc[idx_logic, "SubActivity_Predict"] = "Rotary Drilling"

    idx_logic = (Activity_DF['woba']>0) & (Activity_DF['rpm']<10) & (Activity_DF['stppress']>100) & (Activity_DF['hklda']>ConnectionWeight)
    Activity_DF.loc[idx_logic, "SubActivity_Predict"] = "Slide Drilling"

    idx_logic = (Activity_DF['woba']==0) & (Activity_DF['rpm']>10) & (Activity_DF['stppress']>100) & (Activity_DF['hklda']>ConnectionWeight)
    Activity_DF.loc[idx_logic, "SubActivity_Predict"] = "Reaming"

    idx_logic = (Activity_DF['woba']==0) & (Activity_DF['rpm']==0) & (Activity_DF['stppress']>100) & (Activity_DF['hklda']>ConnectionWeight)
    Activity_DF.loc[idx_logic, "SubActivity_Predict"] = "Wash Up/Down"

    idx_logic = (Activity_DF['woba']==0) & (Activity_DF['rpm']==0) & (Activity_DF['stppress']<50) & (Activity_DF['hklda']<ConnectionWeight)
    Activity_DF.loc[idx_logic, "SubActivity_Predict"] = "Connection"


    return Activity_DF

    # return SubActivity_Label

# Tripping_Data_DF
ConnectionWeight = 61
Activity_New = GetDrillingActivity_DF(ConnectionWeight,Drilling_Data_DF)
Activity_New['dt_DF'] = pd.to_datetime(Activity_New['date'] + ' ' + Activity_New['time'])
Activity_New

,dt,date,time,bitdepth,md,blockpos,rop,hklda,woba,torqa,rpm,stppress,mudflowin,SubActivity_Predict,dt_DF
0,7/28/2021 7:30,7/28/2021,7:30:00,476.35,489.24,24.97,0.00,88.96,0.0,2.14,32,683.76,621.63,Reaming,2021-07-28 07:30:00
1,7/28/2021 7:30,7/28/2021,7:30:05,476.35,489.24,24.97,0.00,88.48,0.0,2.17,32,684.50,620.75,Reaming,2021-07-28 07:30:05
2,7/28/2021 7:30,7/28/2021,7:30:10,476.35,489.24,24.97,0.00,88.64,0.0,2.18,32,683.03,594.26,Reaming,2021-07-28 07:30:10
3,7/28/2021 7:30,7/28/2021,7:30:15,476.35,489.24,24.97,0.00,88.32,0.0,2.13,32,682.66,622.51,Reaming,2021-07-28 07:30:15
4,7/28/2021 7:30,7/28/2021,7:30:20,476.36,489.24,24.96,0.00,87.92,0.0,2.15,32,683.40,622.51,Reaming,2021-07-28 07:30:20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76053,8/2/2021 2:59,8/2/2021,2:59:38,2176.81,2178.58,2.33,8.61,145.41,0.0,0.00,0,1638.24,947.46,Wash Up/Down,2021-08-02 02:59:38
76054,8/2/2021 2:59,8/2/2021,2:59:43,2176.81,2178.58,2.33,8.61,145.63,0.0,0.00,0,1623.16,944.81,Wash Up/Down,2021-08-02 02:59:43
76055,8/2/2021 2:59,8/2/2021,2:59:48,2176.81,2178.58,2.33,8.61,145.89,0.0,0.00,0,1609.56,946.58,Wash Up/Down,2021-08-02 02:59:48
76056,8/2/2021 2:59,8/2/2021,2:59:53,2176.81,2178.58,2.33,8.61,146.11,0.0,0.00,0,1660.30,935.10,Wash Up/Down,2021-08-02 02:59:53
76057,8/2/2021 2:59,8/2/2021,2:59:58,2176.81,2178.58,2.33,8.61,146.11,0.0,0.00,0,1715.07,935.98,Wash Up/Down,2021-08-02 02:59:58

In [130]:

SubActivityOutput = pd.DataFrame(columns=['date', 'Time_start','Time_end', 'date_time', 'Duration', 'Hole Depth', 'Bit Depth(mean)', 'RotateDrilling', 'Slide Drilling', 'ReamingTime', 'ConnectionTime', 'SubActivity'])

for k,DF_Temp in Activity_New.groupby((Activity_New['SubActivity_Predict'].shift() != Activity_New['SubActivity_Predict']).cumsum()):
    # print(f'[group {k}]')
    list_temp = []
    # display_DF(DF_Temp)
    date = DF_Temp.head(1)['date'].values[0]
    Time_start = DF_Temp.head(1)['time'].values[0]
    Time_end = DF_Temp.tail(1)['time'].values[0]
    date_time = DF_Temp.head(1)['dt'].values[0]
    SubActivity_Predict_Class = DF_Temp.head(1)['SubActivity_Predict'].values[0]

    Duration = round(((DF_Temp['dt_DF'].max()-DF_Temp['dt_DF'].min()).total_seconds())/60,2)
    Hole_Depth_Temp = DF_Temp['md'].max()

    if Hole_Depth_Temp>= Hole_Depth:
        Hole_Depth = Hole_Depth_Temp
    
    # Bit_Depth = DF_Temp['md'].max()
    Bit_Depth = DF_Temp['bitdepth'].mean()
    # date = DF_Temp.head(1)['t'].values
    list_Out = [date, Time_start,Time_end, date_time, Duration, Hole_Depth, Bit_Depth, "", "", "", "",SubActivity_Predict_Class]
    SubActivityOutput.loc[len(SubActivityOutput)] = list_Out






SubActivityOutput.loc[SubActivityOutput['SubActivity'] == 'Rotary Drilling', 'RotateDrilling'] = SubActivityOutput.loc[SubActivityOutput['SubActivity'] == 'Rotary Drilling', 'Duration']
SubActivityOutput.loc[SubActivityOutput['SubActivity'] == 'Slide Drilling', 'Slide Drilling'] = SubActivityOutput.loc[SubActivityOutput['SubActivity'] == 'Slide Drilling', 'Duration']
SubActivityOutput.loc[SubActivityOutput['SubActivity'] == 'Reaming', 'ReamingTime'] = SubActivityOutput.loc[SubActivityOutput['SubActivity'] == 'Reaming', 'Duration']
SubActivityOutput.loc[SubActivityOutput['SubActivity'] == 'Connection', 'ConnectionTime'] = SubActivityOutput.loc[SubActivityOutput['SubActivity'] == 'Connection', 'Duration']
SubActivityOutput
SubActivityOutput.to_excel("AAE-05_SubActivity_Test_v1.xlsx")
# DF_Temp

In [135]:
forPlot_DF = SubActivityOutput.groupby('SubActivity')['Duration'].sum()
forPlot_DF

SubActivity
Connection          974.72
Look and define     609.99
Reaming             933.03
Rotary Drilling    3475.95
Slide Drilling      279.99
Wash Up/Down        472.40
Name: Duration, dtype: float64

In [140]:
for i in (forPlot_DF.index):
    print(i)

Connection
Look and define
Reaming
Rotary Drilling
Slide Drilling
Wash Up/Down

In [141]:
forPlot_DF.values

array([ 974.72,  609.99,  933.03, 3475.95,  279.99,  472.4 ])

In [5]:
Tripping_Data_DF

,dt,date,time,bitdepth,md,blockpos,hklda,rpm,stppress,mudflowin
0,8/22/2021 0:00,8/22/2021,0:00:04,10.58,545.58,12.87,29.61,0,0.0,0.0
1,8/22/2021 0:00,8/22/2021,0:00:09,10.58,545.58,12.87,29.61,0,0.0,0.0
2,8/22/2021 0:00,8/22/2021,0:00:14,10.58,545.58,12.87,29.61,0,0.0,0.0
3,8/22/2021 0:00,8/22/2021,0:00:19,10.58,545.58,12.87,29.61,0,0.0,0.0
4,8/22/2021 0:00,8/22/2021,0:00:24,10.58,545.58,12.87,29.61,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
6363,8/22/2021 8:59,8/22/2021,8:59:39,512.14,545.58,5.41,99.32,0,0.0,0.0
6364,8/22/2021 8:59,8/22/2021,8:59:44,512.14,545.58,5.41,99.32,0,0.0,0.0
6365,8/22/2021 8:59,8/22/2021,8:59:49,512.14,545.58,5.41,99.32,0,0.0,0.0
6366,8/22/2021 8:59,8/22/2021,8:59:54,512.14,545.58,5.41,99.32,0,0.0,0.0
6367,8/22/2021 8:59,8/22/2021,8:59:59,512.14,545.58,5.41,99.32,0,0.0,0.0