In [1]:
import pandas as pd

In [4]:
Label_Raw_DB_filename = "Data\\Master_Report\\RAW-REPORT-RTOC-AAE-06_12-5in_Rev1-3.xlsx"

Label_Raw_DB = pd.read_excel(Label_Raw_DB_filename)
print(Label_Raw_DB.dtypes)
Label_Raw_DB

Date                   datetime64[ns]
Time                           object
Date/Time              datetime64[ns]
Connection Activity            object
Sub Activity                   object
Activity                       object
Remarks                        object
dtype: object

,Date,Time,Date/Time,Connection Activity,Sub Activity,Activity,Remarks
0,2021-09-01,20:50:33,2021-09-01 20:50:33,NaN,Make Up BHA,Make up BHA,P/U & M/U 12-1/4 TCI BIT
1,2021-09-01,23:19:04,2021-09-01 23:19:04,NaN,Connection,Trip In,NaN
2,2021-09-01,23:26:44,2021-09-01 23:26:44,NaN,Moving,Trip In,NaN
3,2021-09-01,23:30:04,2021-09-01 23:30:04,NaN,Connection,Trip In,NaN
4,2021-09-01,23:33:24,2021-09-01 23:33:24,NaN,Moving,Trip In,NaN
...,...,...,...,...,...,...,...
973,2021-09-17,11:00:00,2021-09-17 11:00:00,NaN,Cementing Job,Cementing Job,NaN
974,2021-09-17,12:30:00,2021-09-17 12:30:00,NaN,Moving,Trip Out,NaN
975,2021-09-17,16:20:00,2021-09-17 16:20:00,NaN,Wait on Cement,Wait on Cement,Slip and Cut Drilling line
976,2021-09-17,20:30:00,2021-09-17 20:30:00,NaN,Make Up BHA,Make up BHA,NaN
977,2021-09-18,00:00:00,2021-09-18 00:00:00,NaN,Make Up BHA,Make up BHA,NaN

In [10]:
RT_Raw_DB_filename = "Data\\Merged\\Merge_DrillTrip_AAE-06.csv"

RT_Raw_DB = pd.read_csv(RT_Raw_DB_filename)
list_column = ["dt_DF",
                "dt",
                "date",
                "time",
                "bitdepth",
                "md",
                "blockpos",
                "rop",
                "hklda",
                "woba",
                "torqa",
                "rpm",
                "stppress",
                "mudflowin",
                "Remarks",
                "dt",
                "SubActivity_Predict"]
RT_Raw_DB = RT_Raw_DB[list_column]
RT_Raw_DB.rename(columns = {'Remarks':'MajorActivity'}, inplace = True)
print(RT_Raw_DB.dtypes)
RT_Raw_DB

dt_DF                   object
dt                      object
date                    object
time                    object
bitdepth               float64
md                     float64
blockpos               float64
rop                    float64
hklda                  float64
woba                   float64
torqa                  float64
rpm                    float64
stppress               float64
mudflowin              float64
MajorActivity           object
dt                      object
SubActivity_Predict     object
dtype: object

,dt_DF,dt,date,time,bitdepth,md,blockpos,rop,hklda,woba,torqa,rpm,stppress,mudflowin,MajorActivity,dt,SubActivity_Predict
0,2021-08-22 00:00:04,8/22/2021 0:00,8/22/2021,0:00:04,10.58,545.58,12.87,NaN,29.61,NaN,NaN,0.0,0.0,0.0,Trip_Data,8/22/2021 0:00,Connection
1,2021-08-22 00:00:09,8/22/2021 0:00,8/22/2021,0:00:09,10.58,545.58,12.87,NaN,29.61,NaN,NaN,0.0,0.0,0.0,Trip_Data,8/22/2021 0:00,Connection
2,2021-08-22 00:00:14,8/22/2021 0:00,8/22/2021,0:00:14,10.58,545.58,12.87,NaN,29.61,NaN,NaN,0.0,0.0,0.0,Trip_Data,8/22/2021 0:00,Connection
3,2021-08-22 00:00:19,8/22/2021 0:00,8/22/2021,0:00:19,10.58,545.58,12.87,NaN,29.61,NaN,NaN,0.0,0.0,0.0,Trip_Data,8/22/2021 0:00,Connection
4,2021-08-22 00:00:24,8/22/2021 0:00,8/22/2021,0:00:24,10.58,545.58,12.87,NaN,29.61,NaN,NaN,0.0,0.0,0.0,Trip_Data,8/22/2021 0:00,Connection
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121195,2021-08-29 00:59:40,8/29/2021 0:59,8/29/2021,0:59:40,1432.76,1500.01,13.80,11.84,195.97,0.0,0.0,0.0,0.0,0.0,Drill_Data,8/29/2021 0:59,Connection
121196,2021-08-29 00:59:45,8/29/2021 0:59,8/29/2021,0:59:45,1431.96,1500.01,14.61,11.84,194.65,0.0,0.0,0.0,0.0,0.0,Drill_Data,8/29/2021 0:59,Connection
121197,2021-08-29 00:59:50,8/29/2021 0:59,8/29/2021,0:59:50,1431.12,1500.01,15.44,11.84,194.34,0.0,0.0,0.0,0.0,0.0,Drill_Data,8/29/2021 0:59,Connection
121198,2021-08-29 00:59:55,8/29/2021 0:59,8/29/2021,0:59:55,1430.28,1500.01,16.28,11.84,194.90,0.0,0.0,0.0,0.0,0.0,Drill_Data,8/29/2021 0:59,Connection
121199,2021-08-29 01:00:00,8/29/2021 1:00,8/29/2021,1:00:00,1429.45,1500.01,17.12,11.84,194.65,0.0,0.0,0.0,0.0,0.0,Drill_Data,8/29/2021 1:00,Connection

In [13]:
#check min max
print(str(RT_Raw_DB['dt_DF'].min()) + " - " + str(RT_Raw_DB['dt_DF'].max()))
print(str(Label_Raw_DB['Date/Time'].min()) + " - " + str(Label_Raw_DB['Date/Time'].max()))

2021-08-22 00:00:04 - 2021-08-29 01:00:00
2021-09-01 20:50:33 - 2021-09-18 00:00:00