In [3]:
import pandas as pd 

# FolderPath = "/content/drive/MyDrive/Colab Notebooks/PDU"
FilePath = "OLD\\FinalLabelDataAll.csv"
# /content/drive/MyDrive/Colab Notebooks/PDU/FinalLabelDataAll.csv
Raw_DB = pd.read_csv(FilePath)
Raw_DB.head()

C:\Users\irsya\Miniconda3\envs\python38\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (150,151,152) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,dt,wid,sid,recid,seqid,date,time,actcode,blockpos,...,spare_5,spare_6,spare_7,spare_8,spare_9,spare_10,label,LABEL_ConnectionActivity,LABEL_SubActivity,LABEL_Activity
0,0,2021-04-26 10:45:28,143,0,1,32767,2021-04-26,10:45:28,2,4.33,...,0.0,0.0,0.0,63.79,0.0,0.0,NaN,NaN,NaN,NaN
1,1,2021-04-26 10:45:33,143,0,1,32767,2021-04-26,10:45:33,2,4.33,...,0.0,0.0,0.0,63.79,0.0,0.0,NaN,NaN,NaN,NaN
2,2,2021-04-26 10:46:36,143,0,1,32767,2021-04-26,10:46:36,2,4.33,...,0.0,0.0,0.0,63.79,0.0,0.0,NaN,NaN,NaN,NaN
3,3,2021-04-26 10:46:41,143,0,1,32767,2021-04-26,10:46:41,2,4.33,...,0.0,0.0,0.0,63.79,0.0,0.0,NaN,NaN,NaN,NaN
4,4,2021-04-26 10:46:46,143,0,1,32767,2021-04-26,10:46:46,2,4.33,...,0.0,0.0,0.0,63.79,0.0,0.0,NaN,NaN,NaN,NaN

In [6]:
# for i in Raw_DB.columns:
#     print(i)

TimebasedCol = [
    "dt",
    "date",
    "time"
]
ListUsedCol = ["bitdepth",
            "md",
            "blockpos",
            "rop",
            "hklda",
            "woba",
            "torqa",
            "rpm",
            "stppress",
            "mudflowin"]

LabelCol = ["LABEL_ConnectionActivity",
            "LABEL_SubActivity",
            "LABEL_Activity"]
        
finalUsedCol = TimebasedCol + ListUsedCol + LabelCol
finalUsedCol

['dt',
 'date',
 'time',
 'bitdepth',
 'md',
 'blockpos',
 'rop',
 'hklda',
 'woba',
 'torqa',
 'rpm',
 'stppress',
 'mudflowin',
 'LABEL_ConnectionActivity',
 'LABEL_SubActivity',
 'LABEL_Activity']

In [14]:
Used_DB = Raw_DB[finalUsedCol]
Used_DB[LabelCol[0]] = Used_DB[LabelCol[0]].str.upper()
Used_DB[LabelCol[1]] = Used_DB[LabelCol[1]].str.upper()
Used_DB[LabelCol[2]] = Used_DB[LabelCol[2]].str.upper()

Used_DB["LABEL_SubActivity"] = Used_DB["LABEL_SubActivity"].str.replace('REAMING ', 'REAMING', regex=False)

Used_DB

C:\Users\irsya\AppData\Local\Temp/ipykernel_30052/1755080858.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Used_DB[LabelCol[0]] = Used_DB[LabelCol[0]].str.upper()
C:\Users\irsya\AppData\Local\Temp/ipykernel_30052/1755080858.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Used_DB[LabelCol[1]] = Used_DB[LabelCol[1]].str.upper()
C:\Users\irsya\AppData\Local\Temp/ipykernel_30052/1755080858.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Used_DB[LabelCol[2]] = Used_DB[LabelCol[2]].str.upper()
C:\Users\irsya\AppData\Local\Temp/ipykernel_30052/1755080858.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Used_DB["LABEL_SubActivity"] = Used_DB["LABEL_SubActivity"].str.replace('REAMING ', 'REAMING', regex=False)

,dt,date,time,bitdepth,md,blockpos,rop,hklda,woba,torqa,rpm,stppress,mudflowin,LABEL_ConnectionActivity,LABEL_SubActivity,LABEL_Activity
0,2021-04-26 10:45:28,2021-04-26,10:45:28,62.7,62.70,4.33,2.83,41.21,17.33,5.0,49.0,637.5,1024.27,NaN,NaN,NaN
1,2021-04-26 10:45:33,2021-04-26,10:45:33,62.7,62.70,4.33,2.83,41.21,17.33,5.0,49.0,637.5,1024.27,NaN,NaN,NaN
2,2021-04-26 10:46:36,2021-04-26,10:46:36,62.7,62.70,4.33,2.83,41.21,17.33,5.0,49.0,637.5,1024.27,NaN,NaN,NaN
3,2021-04-26 10:46:41,2021-04-26,10:46:41,62.7,62.70,4.33,2.83,41.21,17.33,5.0,49.0,637.5,1024.27,NaN,NaN,NaN
4,2021-04-26 10:46:46,2021-04-26,10:46:46,62.7,62.70,4.33,2.83,41.21,17.33,5.0,49.0,637.5,1024.27,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
579286,2021-06-03 10:17:51,2021-06-03,10:17:51,0.0,0.01,25.13,0.00,29.93,0.00,0.0,0.0,0.0,0.00,NaN,NaN,NaN
579287,2021-06-03 10:17:56,2021-06-03,10:17:56,0.0,0.01,25.13,0.00,29.93,0.00,0.0,0.0,0.0,0.00,NaN,NaN,NaN
579288,2021-06-03 10:18:01,2021-06-03,10:18:01,0.0,0.01,25.13,0.00,29.94,0.00,0.0,0.0,0.0,0.00,NaN,NaN,NaN
579289,2021-06-03 10:18:06,2021-06-03,10:18:06,0.0,0.01,25.13,0.00,29.93,0.00,0.0,0.0,0.0,0.00,NaN,NaN,NaN
579290,2021-06-03 10:18:11,2021-06-03,10:18:11,0.0,0.01,25.13,0.00,29.93,0.00,0.0,0.0,0.0,0.00,NaN,NaN,NaN

In [33]:
start_time = "4/26/2021 12:56:00"
end_time = "23/05/2021 00:55"

start_time = "2021-05-11 03:10:00"
end_time = "2021-05-23 00:55:00"



idx_logic = (Used_DB["dt"] >= start_time) &  (Used_DB["dt"] <= end_time)
FinalUsed_DB = Used_DB.loc[idx_logic, :]
FinalUsed_DB

,dt,date,time,bitdepth,md,blockpos,rop,hklda,woba,torqa,rpm,stppress,mudflowin,LABEL_ConnectionActivity,LABEL_SubActivity,LABEL_Activity
238414,2021-05-11 03:10:03,2021-05-11,03:10:03,0.00,343.85,9.65,0.0,29.75,0.0,0.0,0.0,0.0,0.0,NO DATA,WAIT ON CEMENT,WAIT ON CEMENT
238415,2021-05-11 03:10:08,2021-05-11,03:10:08,0.00,343.85,9.65,0.0,29.75,0.0,0.0,0.0,0.0,0.0,NO DATA,WAIT ON CEMENT,WAIT ON CEMENT
238416,2021-05-11 03:10:13,2021-05-11,03:10:13,0.00,343.85,9.65,0.0,29.75,0.0,0.0,0.0,0.0,0.0,NO DATA,WAIT ON CEMENT,WAIT ON CEMENT
238417,2021-05-11 03:10:18,2021-05-11,03:10:18,0.00,343.85,9.65,0.0,29.75,0.0,0.0,0.0,0.0,0.0,NO DATA,WAIT ON CEMENT,WAIT ON CEMENT
238418,2021-05-11 03:10:23,2021-05-11,03:10:23,0.00,343.85,9.65,0.0,29.75,0.0,0.0,0.0,0.0,0.0,NO DATA,WAIT ON CEMENT,WAIT ON CEMENT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427358,2021-05-23 00:54:40,2021-05-23,00:54:40,9.21,2172.06,5.13,0.0,29.42,0.0,0.0,0.0,0.0,0.0,NO DATA,MAKE UP BHA,MAKE UP BHA
427359,2021-05-23 00:54:45,2021-05-23,00:54:45,9.21,2172.06,5.13,0.0,29.36,0.0,0.0,0.0,0.0,0.0,NO DATA,MAKE UP BHA,MAKE UP BHA
427360,2021-05-23 00:54:50,2021-05-23,00:54:50,9.21,2172.06,5.13,0.0,29.36,0.0,0.0,0.0,0.0,0.0,NO DATA,MAKE UP BHA,MAKE UP BHA
427361,2021-05-23 00:54:55,2021-05-23,00:54:55,9.21,2172.06,5.13,0.0,29.36,0.0,0.0,0.0,0.0,0.0,NO DATA,MAKE UP BHA,MAKE UP BHA
427362,2021-05-23 00:55:00,2021-05-23,00:55:00,9.21,2172.06,5.13,0.0,29.36,0.0,0.0,0.0,0.0,0.0,NO DATA,MAKE UP BHA,MAKE UP BHA

In [34]:
FinalUsed_DB.to_csv("RealTime_Test\\AAE-03_RealtimeSimulation.csv")