In [6]:
import pandas as pd
from IPython.display import display as display_DF

In [27]:
fileRealtime = "RealTime_Test\\AAE-03_RealtimeSimulation.csv"

RealTime_DB = pd.read_csv(fileRealtime).iloc[:,2:]

RealTime_DB['dt'] = pd.to_datetime(RealTime_DB['dt'])
print(RealTime_DB.dtypes)
RealTime_DB

dt                          datetime64[ns]
date                                object
time                                object
bitdepth                           float64
md                                 float64
blockpos                           float64
rop                                float64
hklda                              float64
woba                               float64
torqa                              float64
rpm                                float64
stppress                           float64
mudflowin                          float64
LABEL_ConnectionActivity            object
LABEL_SubActivity                   object
LABEL_Activity                      object
dtype: object

,dt,date,time,bitdepth,md,blockpos,rop,hklda,woba,torqa,rpm,stppress,mudflowin,LABEL_ConnectionActivity,LABEL_SubActivity,LABEL_Activity
0,2021-05-11 03:10:03,2021-05-11,03:10:03,0.00,343.85,9.65,0.0,29.75,0.0,0.0,0.0,0.0,0.0,NO DATA,WAIT ON CEMENT,WAIT ON CEMENT
1,2021-05-11 03:10:08,2021-05-11,03:10:08,0.00,343.85,9.65,0.0,29.75,0.0,0.0,0.0,0.0,0.0,NO DATA,WAIT ON CEMENT,WAIT ON CEMENT
2,2021-05-11 03:10:13,2021-05-11,03:10:13,0.00,343.85,9.65,0.0,29.75,0.0,0.0,0.0,0.0,0.0,NO DATA,WAIT ON CEMENT,WAIT ON CEMENT
3,2021-05-11 03:10:18,2021-05-11,03:10:18,0.00,343.85,9.65,0.0,29.75,0.0,0.0,0.0,0.0,0.0,NO DATA,WAIT ON CEMENT,WAIT ON CEMENT
4,2021-05-11 03:10:23,2021-05-11,03:10:23,0.00,343.85,9.65,0.0,29.75,0.0,0.0,0.0,0.0,0.0,NO DATA,WAIT ON CEMENT,WAIT ON CEMENT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35196,2021-05-13 05:24:01,2021-05-13,05:24:01,1084.25,1163.32,6.39,0.0,140.81,0.0,0.0,0.0,0.0,0.0,NO DATA,STATIONARY,STATIONARY
35197,2021-05-13 05:24:06,2021-05-13,05:24:06,1084.25,1163.32,6.39,0.0,140.81,0.0,0.0,0.0,0.0,0.0,NO DATA,STATIONARY,STATIONARY
35198,2021-05-13 05:24:11,2021-05-13,05:24:11,1084.25,1163.32,6.39,0.0,140.81,0.0,0.0,0.0,0.0,0.0,NO DATA,STATIONARY,STATIONARY
35199,2021-05-13 05:24:16,2021-05-13,05:24:16,1084.25,1163.32,6.39,0.0,140.88,0.0,0.0,0.0,0.0,0.0,NO DATA,STATIONARY,STATIONARY
35200,2021-05-13 05:24:21,2021-05-13,05:24:21,1084.25,1163.32,6.39,0.0,141.07,0.0,0.0,0.0,0.0,0.0,NO DATA,STATIONARY,STATIONARY

In [29]:
RealTime_DB["LABEL_All"] =RealTime_DB['LABEL_ConnectionActivity'].astype(str) + '--' +RealTime_DB['LABEL_SubActivity']+'--'+RealTime_DB['LABEL_Activity']

display_DF(RealTime_DB.head(5))
display_DF(RealTime_DB.tail(5))

,dt,date,time,bitdepth,md,blockpos,rop,hklda,woba,torqa,rpm,stppress,mudflowin,LABEL_ConnectionActivity,LABEL_SubActivity,LABEL_Activity,LABEL_All
0,2021-05-11 03:10:03,2021-05-11,03:10:03,0.0,343.85,9.65,0.0,29.75,0.0,0.0,0.0,0.0,0.0,NO DATA,WAIT ON CEMENT,WAIT ON CEMENT,NO DATA--WAIT ON CEMENT--WAIT ON CEMENT
1,2021-05-11 03:10:08,2021-05-11,03:10:08,0.0,343.85,9.65,0.0,29.75,0.0,0.0,0.0,0.0,0.0,NO DATA,WAIT ON CEMENT,WAIT ON CEMENT,NO DATA--WAIT ON CEMENT--WAIT ON CEMENT
2,2021-05-11 03:10:13,2021-05-11,03:10:13,0.0,343.85,9.65,0.0,29.75,0.0,0.0,0.0,0.0,0.0,NO DATA,WAIT ON CEMENT,WAIT ON CEMENT,NO DATA--WAIT ON CEMENT--WAIT ON CEMENT
3,2021-05-11 03:10:18,2021-05-11,03:10:18,0.0,343.85,9.65,0.0,29.75,0.0,0.0,0.0,0.0,0.0,NO DATA,WAIT ON CEMENT,WAIT ON CEMENT,NO DATA--WAIT ON CEMENT--WAIT ON CEMENT
4,2021-05-11 03:10:23,2021-05-11,03:10:23,0.0,343.85,9.65,0.0,29.75,0.0,0.0,0.0,0.0,0.0,NO DATA,WAIT ON CEMENT,WAIT ON CEMENT,NO DATA--WAIT ON CEMENT--WAIT ON CEMENT

,dt,date,time,bitdepth,md,blockpos,rop,hklda,woba,torqa,rpm,stppress,mudflowin,LABEL_ConnectionActivity,LABEL_SubActivity,LABEL_Activity,LABEL_All
35196,2021-05-13 05:24:01,2021-05-13,05:24:01,1084.25,1163.32,6.39,0.0,140.81,0.0,0.0,0.0,0.0,0.0,NO DATA,STATIONARY,STATIONARY,NO DATA--STATIONARY--STATIONARY
35197,2021-05-13 05:24:06,2021-05-13,05:24:06,1084.25,1163.32,6.39,0.0,140.81,0.0,0.0,0.0,0.0,0.0,NO DATA,STATIONARY,STATIONARY,NO DATA--STATIONARY--STATIONARY
35198,2021-05-13 05:24:11,2021-05-13,05:24:11,1084.25,1163.32,6.39,0.0,140.81,0.0,0.0,0.0,0.0,0.0,NO DATA,STATIONARY,STATIONARY,NO DATA--STATIONARY--STATIONARY
35199,2021-05-13 05:24:16,2021-05-13,05:24:16,1084.25,1163.32,6.39,0.0,140.88,0.0,0.0,0.0,0.0,0.0,NO DATA,STATIONARY,STATIONARY,NO DATA--STATIONARY--STATIONARY
35200,2021-05-13 05:24:21,2021-05-13,05:24:21,1084.25,1163.32,6.39,0.0,141.07,0.0,0.0,0.0,0.0,0.0,NO DATA,STATIONARY,STATIONARY,NO DATA--STATIONARY--STATIONARY

In [34]:
Duration_DB = pd.DataFrame(
    columns=[
        'date',
        'Time_start',
        'Time_end',
        'date_time',
        'Duration(minutes)',
        'Hole Depth(max)',
        'Bit Depth(mean)',
        "Meterage(m)(Drilling)",
        'RotateDrilling',
        'Slide Drilling',
        'ReamingTime',
        'ConnectionTime',
        'On Bottom Hours',
        'Stand Duration',
        "LABEL_ConnectionActivity", 'LABEL_SubActivity', "LABEL_Activity"
        ]
    )

for k,DF_Temp in RealTime_DB.groupby((RealTime_DB['LABEL_All'].shift() != RealTime_DB['LABEL_All']).cumsum()):

    if not(("Hole_Depth" in locals()) or ("Hole_Depth" in globals())):
        Hole_Depth = 0

    list_temp = []

    date = DF_Temp.head(1)['date'].values[0]
    Time_start = DF_Temp.head(1)['time'].values[0]
    Time_end = DF_Temp.tail(1)['time'].values[0]
    date_time = DF_Temp.head(1)['dt'].values[0]
    LABEL_ConnectionActivity = DF_Temp.head(1)['LABEL_ConnectionActivity'].values[0]
    LABEL_SubActivity = DF_Temp.head(1)['LABEL_SubActivity'].values[0]
    LABEL_Activity = DF_Temp.head(1)['LABEL_Activity'].values[0]

    Duration = round(((DF_Temp['dt'].max()-DF_Temp['dt'].min()).total_seconds())/60,2)
    Hole_Depth_Temp = DF_Temp['md'].max()

    if Hole_Depth_Temp>= Hole_Depth:
        Hole_Depth = Hole_Depth_Temp
    
    # Bit_Depth = DF_Temp['md'].max()
    Bit_Depth = DF_Temp['bitdepth'].mean()
    # date = DF_Temp.head(1)['t'].values
    list_Out = [date, Time_start,Time_end, date_time, Duration, Hole_Depth, Bit_Depth, "", "", "", "", "", "", "",LABEL_ConnectionActivity, LABEL_SubActivity, LABEL_Activity]
    Duration_DB.loc[len(Duration_DB)] = list_Out
    
    # if k >20:
    #     break
Duration_DB

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127

,date,Time_start,Time_end,date_time,Duration(minutes),Hole Depth(max),Bit Depth(mean),Meterage(m)(Drilling),RotateDrilling,Slide Drilling,ReamingTime,ConnectionTime,On Bottom Hours,Stand Duration,LABEL_ConnectionActivity,LABEL_SubActivity,LABEL_Activity
0,2021-05-11,03:10:03,09:30:00,2021-05-11 03:10:03,379.95,343.85,0.000000,,,,,,,,NO DATA,WAIT ON CEMENT,WAIT ON CEMENT
1,2021-05-11,09:30:05,16:10:00,2021-05-11 09:30:05,399.92,343.85,0.405436,,,,,,,,NO DATA,OTHER,OTHER
2,2021-05-11,16:10:05,18:20:57,2021-05-11 16:10:05,130.87,343.85,16.891414,,,,,,,,NO DATA,MAKE UP BHA,MAKE UP BHA
3,2021-05-11,18:21:02,18:26:07,2021-05-11 18:21:02,5.08,343.85,33.460645,,,,,,,,NO DATA,MOVING,TRIP IN
4,2021-05-11,18:26:12,18:51:52,2021-05-11 18:26:12,25.67,343.85,41.699676,,,,,,,,NO DATA,CONNECTION,TRIP IN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,2021-05-13,04:28:31,04:33:36,2021-05-13 04:28:31,5.08,1163.32,1131.346935,,,,,,,,NO DATA,MOVING,TRIP OUT
123,2021-05-13,04:33:41,04:43:41,2021-05-13 04:33:41,10.00,1163.32,1116.291736,,,,,,,,NO DATA,CONNECTION,TRIP OUT
124,2021-05-13,04:43:46,04:55:51,2021-05-13 04:43:46,12.08,1163.32,1100.023836,,,,,,,,NO DATA,MOVING,TRIP OUT
125,2021-05-13,04:55:56,05:03:31,2021-05-13 04:55:56,7.58,1163.32,1088.289130,,,,,,,,NO DATA,CONNECTION,TRIP OUT
126,2021-05-13,05:03:36,05:24:21,2021-05-13 05:03:36,20.75,1163.32,1085.171600,,,,,,,,NO DATA,STATIONARY,STATIONARY

0       2021-05-11 03:10:03
1       2021-05-11 03:10:08
2       2021-05-11 03:10:13
3       2021-05-11 03:10:18
4       2021-05-11 03:10:23
                ...
35196   2021-05-13 05:24:01
35197   2021-05-13 05:24:06
35198   2021-05-13 05:24:11
35199   2021-05-13 05:24:16
35200   2021-05-13 05:24:21
Name: dt, Length: 35201, dtype: datetime64[ns]

## Test Function

In [37]:

def GenerateDuration_DF(RealTime_DB):
    RealTime_DB['dt'] = pd.to_datetime(RealTime_DB['dt'])
    RealTime_DB["LABEL_All"] =RealTime_DB['LABEL_ConnectionActivity'].astype(str) + '--' +RealTime_DB['LABEL_SubActivity']+'--'+RealTime_DB['LABEL_Activity']

    Duration_DB = pd.DataFrame(
        columns=[
            'date',
            'Time_start',
            'Time_end',
            'date_time',
            'Duration(minutes)',
            'Hole Depth(max)',
            'Bit Depth(mean)',
            "Meterage(m)(Drilling)",
            'RotateDrilling',
            'Slide Drilling',
            'ReamingTime',
            'ConnectionTime',
            'On Bottom Hours',
            'Stand Duration',
            "LABEL_ConnectionActivity", 'LABEL_SubActivity', "LABEL_Activity"
            ]
        )

    for k,DF_Temp in RealTime_DB.groupby((RealTime_DB['LABEL_All'].shift() != RealTime_DB['LABEL_All']).cumsum()):

        if (("Hole_Depth" in locals()) or ("Hole_Depth" in globals())):
            Hole_Depth = 0

        list_temp = []

        date = DF_Temp.head(1)['date'].values[0]
        Time_start = DF_Temp.head(1)['time'].values[0]
        Time_end = DF_Temp.tail(1)['time'].values[0]
        date_time = DF_Temp.head(1)['dt'].values[0]
        LABEL_ConnectionActivity = DF_Temp.head(1)['LABEL_ConnectionActivity'].values[0]
        LABEL_SubActivity = DF_Temp.head(1)['LABEL_SubActivity'].values[0]
        LABEL_Activity = DF_Temp.head(1)['LABEL_Activity'].values[0]

        Duration = round(((DF_Temp['dt'].max()-DF_Temp['dt'].min()).total_seconds())/60,2)
        Hole_Depth_Temp = DF_Temp['md'].max()

        if Hole_Depth_Temp>= Hole_Depth:
            Hole_Depth = Hole_Depth_Temp
        

        Bit_Depth = DF_Temp['bitdepth'].mean()

        list_Out = [date, Time_start,Time_end, date_time, Duration, Hole_Depth, Bit_Depth, "", "", "", "", "", "", "",LABEL_ConnectionActivity, LABEL_SubActivity, LABEL_Activity]
        Duration_DB.loc[len(Duration_DB)] = list_Out

        
    # SubActivityOutput.loc[SubActivityOutput['SubActivity'] == 'Rotary Drilling', 'RotateDrilling'] = SubActivityOutput.loc[SubActivityOutput['SubActivity'] == 'Rotary Drilling', 'Duration']
    # SubActivityOutput.loc[SubActivityOutput['SubActivity'] == 'Slide Drilling', 'Slide Drilling'] = SubActivityOutput.loc[SubActivityOutput['SubActivity'] == 'Slide Drilling', 'Duration']
    # SubActivityOutput.loc[SubActivityOutput['SubActivity'] == 'Reaming', 'ReamingTime'] = SubActivityOutput.loc[SubActivityOutput['SubActivity'] == 'Reaming', 'Duration']
    # SubActivityOutput.loc[SubActivityOutput['SubActivity'] == 'Connection', 'ConnectionTime'] = SubActivityOutput.loc[SubActivityOutput['SubActivity'] == 'Connection', 'Duration']
    return Duration_DB

In [38]:
fileRealtime = "RealTime_Test\\AAE-03_RealtimeSimulation.csv"

RealTime_DBx = pd.read_csv(fileRealtime)
Out = GenerateDuration_DF(RealTime_DBx)